/* -------------------------------------------------
  Large Screen. 
---------------------------------------------------*/
@media (min-width: 1366px) and (max-width: 1920px) {
  
}



/* -------------------------------------------------
  Laptop Screen 
---------------------------------------------------*/
@media (min-width:1200px) {
    .container {
        width: 1200px;
    }
}


/* -------------------------------------------------
  Old Desktop
---------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1169px) {
.container {width:970px}
.theme-section {
  padding: 80px 0;
}
.slider-content h1 {
  font-size: 40px;
  line-height: 50px;
}
.slider-content-2 h1 {
  font-size: 80px;
  line-height: normal;
}
.header-area .container-fluid {
  padding: 0 30px;
}
.area-heading {
  width: 70%;
}
.main-menu li {
  margin-left: 25px;
}
.single-service {
	padding: 0 10px;
}
.about-top-content {
  margin-bottom: 80px;
}
.tab-heading-content h6 {
	font-size: 13px;
}
.about-bottom-content li {
  margin: 0 10px;
}
.follow-menu {
  margin-bottom: 15px;
}
.item-description h3 a {
	font-size: 18px;
}
.blog-top-content {
  padding: 40px 0;
}
.call-to-action-content {
  width: 80%;
}
.call-to-action-content h1 {
  margin: 40px 0;
}
.page-header {
  margin: 60px 0 25px;
  padding-bottom: 40px;
}

.portfolio-4-column .single-portfolio-item {
  width: 33.3333333333%;
}
.post-widget-content h4 {
  line-height: 24px;
}






}


/* -------------------------------------------------
  Tablet Screen 
---------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
.container {width:750px}
.theme-section {
  padding: 80px 0;
}
.container-fluid {
  padding: 0 15px;
}
.slider-content h1 {
  font-size: 30px;
  line-height: 40px;
}
.slider-content-2 h1 {
  font-size: 60px;
  line-height: normal;
  margin-bottom: 20px;
}
.slider-menu li {
  margin: 0 12px;
}
.slider-menu li a {
  font-size: 16px;
}
.header-area .navbar-brand {
  padding: 10px 0;
}
.area-heading {
  margin: 0 auto 70px;
  width: 80%;
}
.main-menu li a {
	padding: 35px 0;
}
.breadcrumb-section {
  padding: 170px 0 120px;
}
.breadcrumb-title {
  font-size: 24px;
}
.col-md-4.col-sm-6:nth-child(n+3) .single-service {
    margin-top: 30px;
}
.about-content {
  margin-top: 30px;
}
.about-content h3 {
  font-size: 24px;
}
.follow-menu {
  margin-bottom: 15px;
}
.follow-title {
  margin-top: 15px;
  font-size: 20px;
}
.follow-menu li a {
  font-size: 14px;
}
.single-portfolio-item {
  width: 50%;
}
.related-content h4 {
  font-size: 20px;
}
.related-content {
  top: 30px;
}
.single-widget:first-child {
    margin-top: 30px;
}
.call-to-action-content h1 {
  margin: 30px 0;
  font-size: 32px;
}
.subscribe-heading {
  margin-bottom: 40px;
}
.subscribe-input input {
  width: 400px;
}
.call-to-action-content {
  width: 90%;
}
.contact-address-wrapper {
  overflow: hidden;
}
.single-conatct-address {
  float: left;
  width: 50%;
}
.contact-information p {
  font-size: 12px;
}
.copy-right-info {
  text-align: center;
}
.footer-main-menu {
  float: none;
  text-align: center;
  margin-top: 20px;
}
.footer-main-menu li {
  float: none;
  display: inline;
}
.footer-main-menu li a {
  display: inline-block;
}
.page-header {
  margin: 50px 0 25px;
  padding-bottom: 40px;
}
.portfolio-4-column .single-portfolio-item {
  width: 50%;
}


}


/* -------------------------------------------------
  Small Mobile
---------------------------------------------------*/
@media (max-width: 767px) {
.container {width:300px}
.container-fluid {
  padding: 0 15px;
}
.navbar-collapse {
  background: #fff none repeat scroll 0 0;
  border-top: medium none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset;
  overflow-x: visible;
  padding-left: 0;
  padding-right: 0;
} 
.navbar-collapse .navbar-nav > li > a{
  color: #232323;
}
.header-area .nav.navbar-nav.hover-style-one {
  margin: 0;
  width: 100%;
}
.theme-section {
  padding: 70px 0;
}
.navbar-right {
  float: none;
  margin: 0;
  padding: 0;
}
.header-area .navbar-nav > li {
  border-bottom: 1px solid #e5e5e5;
  margin-left: 0;
  padding: 10px 0;
  text-align: center;
}
.header-area .top-nav-collapse {
  padding: 5px 0;
}
.slider-message h1 {
  font-size: 26px;
}
.slider-content h1 {
  font-size: 30px;
  line-height: normal;
  margin-bottom: 15px;
}
.slider-menu li {
  margin: 0 8px;
}
.slider-menu li a {
  font-size: 14px;
}
.scroll-btn {
  bottom: 30px
}
.portfolio-4-column .single-portfolio-item {
  width: 100%;
}
.feature-content {
  text-align: center;
}
.breadcrumb-section {
  padding: 150px 0 100px;
}
.breadcrumb-title {
  font-size: 18px;
  text-align: center;
}
.breadvrumb-list {
  float: none;
  text-align: center;
}
.breadvrumb-list li {
  display: inline;
  float: none;
  margin: 0 15px;
}
.breadvrumb-list li::before {
  top: 0;
}
.breadvrumb-list li a {
  display: inline-block;
}
.single-information {
  margin-bottom: 30px;
}
.single-information.information-description {
  margin-top: 30px;
}
.single-portfolio-wrapper .slick-prev,
.single-portfolio-wrapper .slick-next {
  height: 40px;
  width: 30px;
}
.single-widget:first-child {
    margin-top: 30px;
}
.related-project {
  margin-bottom: 20px;
}
.col-sm-6:last-child .related-project {
  margin-bottom: 0;
}
.related-content {
  top: 30px;
}
.related-content h4 {
  font-size: 18px;
}
.call-to-action-content {
  width: 100%;
}
.call-to-action-content h2 {
  font-size: 22px;
  line-height: 26px;
}
.area-heading {
  margin: 0 auto 50px;
  width: 100%;
}
.area-title {
  font-size: 22px;
}
.col-md-4.col-sm-6:nth-child(n+2) .single-service {
    margin-top: 30px;
}
.single-service i {
  margin-bottom: 10px;
}
.service-section {
  padding: 80px 0 50px;
}
.about-icon {
  font-size: 36px;
}
.about-content {
  margin-top: 20px;
}
.about-content h3 {
  font-size: 20px;
}
.follow-title {
  font-size: 20px;
  margin-top: 15px;
}
.follow-menu {
  margin-bottom: 15px;
}
.follow-menu li {
  margin-right: 15px;
}
.follow-menu li a {
  font-size: 14px;
}
.single-counter {
  width: 100%;
  margin-bottom: 40px;
}
.single-counter:last-child {
  margin-bottom: 0;
}
.tab-conetnt h2 {
  font-size: 22px;
  margin: 15px 0;
}
.about-top-content {
  margin-bottom: 40px;
}
.about-bottom-content li a {
  margin-bottom: 20px;
}
.about-bottom-content li:last-child a {
  margin-bottom: 0;
} 
.tab-heading-content h6 {
  margin-bottom: 0;
}
.single-portfolio-item {
  width: 100%;
}
.portfolio-filter li a {
  padding: 0 0 10px 0;
}
.portfolio-filter li a::before {
  bottom: 5px;
}
.item-description h3 a {
  font-size: 18px;
}
.item-description > h3 {
  margin-bottom: 10px;
}
.call-to-action-content h1 {
  font-size: 18px;
  line-height: 28px;
  margin: 15px 0;
}
.about-bottom-content li {
  display: block;
  margin: 10px 0;
}
.single-team-member {
  margin-bottom: 30px;
}
.col-md-4:last-child .single-team-member {
  margin-bottom: 0;
}
.single-testimonial blockquote {
  width: 100%;
}
.slick-dots {
  bottom: -45px;
}
.single-blog {
  margin-bottom: 30px;
}
.col-md-4:last-child .single-blog {
  margin-bottom: 0;
}
.subscribe-heading {
  margin-bottom: 30px;
}
.subscribe-heading h4 {
  line-height: 28px;
}
.subscribe-input input {
  width: 270px;
  letter-spacing: 1px;
  padding: 0 15px;
  margin-right: 0;
  margin-bottom: 10px;
  border-radius: 40px;
}
.subscribe-input button {
  border-radius: 40px;
  margin-left: 0;
  position: relative;
  top: 0;
}
.footer-main-menu li a {
  font-weight: 500;
}
.form-group {
  margin-bottom: 0;
}
.contact-wrapper .form-control {
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding: 0 15px;
}
.contact-information p {
  font-size: 12px;
}
.contact-information a {
  font-size: 13px;
}
.page-header {
  margin: 50px 0 20px;
  padding-bottom: 30px;
}
.copy-right-info {
  text-align: center;
  font-size: 13px;
}
.footer-main-menu {
  float: none;
  text-align: center;
  margin-top: 15px;
}
.footer-main-menu li {
  float: none;
  display: inline;
  margin-left: 0;
  margin: 0 10px;
}
.footer-main-menu li a {
  display: inline-block;
  font-size: 13px;
}
.blog-post-wrapper .slick-dots {
  bottom: 5px;
}
.slick-dots li button::before {
  font-size: 50px;
}
.post-description h3 {
  font-size: 20px;
  line-height: 26px;
}
.post-meta li {
  margin-right: 10px;
}
.post-meta li a {
  font-size: 12px;
}
.media-list {
  margin-bottom: 20px;
}
.media-list li {
  padding: 20px 0;
}
.media-content {
  padding-left: 0;
  text-align: center;
}
.media-list li.media-reply {
  padding: 20px 0 20px 20px;
}
.comment-form .form-control {
  margin-bottom: 20px;
}
.breadcrumb-title-area {
  margin-bottom: 12px;
  text-align: center;
}
.media-thubnail {
  float: none;
  margin-bottom: 15px;
  text-align: center;
}
.reply-icon {
  position: static;
}




}
